    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js" integrity="sha256-u6BamZiW5tCemje2nrteKC2KoLIKX9lKPSpvCkOhamw=" crossorigin="anonymous"></script>
    <script>
      function checkHash() {
        $.get("/", function(data) {
          var hash = CryptoJS.MD5(data);
          hashString = hash.toString(CryptoJS.enc.Base64);
          if (window.loadHash !== hashString) {
            location.reload();
          }
        });
      }
      $(document).ready(function() {
        $.get("/", function(data) {
          var hash = CryptoJS.MD5(data);
          window.loadHash = hash.toString(CryptoJS.enc.Base64);
        });
        setInterval(checkHash,3000);
      });
    </script>
  </body>
</html>
